<html>
<head>
<title>
</title>
</head>
<body>
<form action="/teachers/updateAbsentNameAgains/" method="get">
<ol>
 <% for teachSub in @teachSub  %>
   <% if teachSub.teacher_id==session[:id]%>
      <% for subject in @subject %>
	   		  <% if teachSub.subcode == subject.subcode %>
		       <% for stuSub in @stuSub %>
			        <% if subject.subcode== stuSub.subcode  %>
			            <% for student in @student %>
								<% if student.rollno == stuSub.rollno %>
								         <% if subject.subcode == params[:subcode]  %>
										  <%= session[:subcode] %>
								          <li><%= student.fname %>&nbsp<%= student.lname %><input type="checkbox"  value= <%= student.rollno %> name="rollno">
				                         <br><br><br><br><br><br>
				                        </li>
								         <% end %>		
								<% end %>
			             <% end %>
				    <% end %>
			   <% end %>
		   <% end %> 
      <% end%>
   <% end%>
 <% end %>
 </ol>
 <input type="submit">
 </form>
 <a herf="/teachers/checkLog/"> Back</a>
</body>
</html>