<html>
<head>
<title></title>
<%= stylesheet_link_tag 'default.css' %>
</head>
<body>
<div id="banner-wrapper"></div>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1> Class Management System </h1>
		</div>
		<div id="menu">
			<ul>
				<li><a href="/students/index/" accesskey="1" title="">Homepage</a></li>
				
				<li><a href="/students/about/" accesskey="2" title="">About Us</a></li>
				
				<li><a href="/students/contact/" accesskey="3" title="">Contact Us</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="page" class="container">
	<div id="content">
		<div class="post">
			<h2 class="title"> Welcome to Class Management System </h2>
			<p class="meta"><span class="date">April 15, 2014</span><span class="posted">Created by <a href="/students/about/"> WebPGroup </a></span></p>
			<div style="clear: both;">&nbsp;</div>
			<div class="entry">
				<p>This is <strong>CMS </strong>, a web application to manage the class attendance effectively. Login using student login to see the attendance of each class you are enrolled for. Or login as teacher then select the class or course you take then mark the absentees. </p>
				
				
			</div>
		</div>
	
	
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #content -->
	<div id="sidebar">
		<ul>
			<li>
				<h3 style="color:white"> Welcome teacher </h3><br>
				<ul>
					<nav class="cl-effect-16">
          			<a  href="/teachers/viewSubForAtt/" style="font-size:17px;"  data-hover="Show Attendance "> Show Attendance </a>
          			<a href="/teachers/viewSubForTakeAtt/" style="font-size:17px;" data-hover="Take Attendance"> Take Attendance </a>
          			<a href="/teachers/viewSubForStuInfo/" style="font-size:17px;" data-hover="Student Details"> Student Details </a>
					<% for teachSub in @teachSub %>
   						<% if teachSub.teacher_id==session[:id]%>
   						<ol style="list-style-type:square">
      						<% for subject in @subject %>
		  						<% if teachSub.subcode == subject.subcode %>
		  							<form action="/teachers/studentInfo" method="get">
										<li><p style="font-size:17px;color:grey"><%= subject.subname %>&nbsp;<input type="submit" value=<%= subject.subcode %> name="subcode"> </p></li>
		  							</form>
		       
		   						<% end %> 
      						<% end%>
      					</ol>
   						<% end%>
 					<% end %>
					</li><br>
					

					<li><a href="/students/index/" style="font-size:15px;color:yellow" data-hover = "Logout" > Logout </a></li>
          			</nav>
				</ul>
			</li>
		
			
		</ul>
	</div>
	<!-- end #sidebar -->
</div>
<div id="footer" class="container">
	<p>Copyright (c) 2014 CMS.com. All rights reserved. Design by <a><a href= "https://www.facebook.com/profile.php?id=100004086293066&fref=ts">Vikas Kumar Singh</a>,<a><a href = "https://www.facebook.com/punitnitc?fref=ts"> Punit kumar singh</a> and  <a> <a href = "https://www.facebook.com/hi.user.watsup?fref=ts"> Niranjan Singh </a>.</p>
</div>
</body>
</html>